# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
ENV/
.venv/
.Python

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Test results
*.cover
*.coverage
*.pytest_cache/
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env
.env.*

# SQLite database
*.sqlite3

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# JetBrains IDEs
.idea/

# custom 
*.png